@model Tanger_API.Models.ForestPollution

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ForestPollution</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pollutant" class="control-label"></label>
                <input asp-for="Pollutant" class="form-control" />
                <span asp-validation-for="Pollutant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <input asp-for="Severity" class="form-control" />
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
